.card {
    height: 200px;
    border-radius: 2px;
    Width: 200px;
    margin: 1rem;
    position: relative;
    background: red;
    
}

.card > .img-container {
    height: 60%;
    overflow: hidden;
    background: #6CADDC;
}

.card > .img-container > .card-image {
    width: 60%
}